<nav class="navbar">
  <a href="/" class="navbar-brand">
    <img src="/img/PagoClick.png" alt="PagoClick Logo" class="logo">
    <span>PagoClick</span>
  </a>
  <div class="navbar-links">
    <a href="/products">Tienda</a>
    <a href="/dashboard">Mi cuenta</a>
    <a href="/auth/logout" class="btn btn-outline btn-sm">Salir</a>
  </div>
</nav>